/***********************************
  Estilos personalizados:
  @author Emmanuel Valverde Ramos
  @author Pedro Hernandéz Mora
  @author Eduardo López Pardo
  @author Fernando Manuel Barcelona
  @author Abel Montejo

*************************************/
/*********************
  GENERAL
**********************/
html,
body {
  height: 100%;
}

/*********************
  NAV
**********************/
.navbar {
  /*background-color: transparent !important;*/
  /*background-color: rgba(255, 255, 255, 0.1) !important;*/
  background-color: rgba(26, 35, 126, 0.1) !important;
  z-index:99;
}

.top-nav-collapse {
  background-color: #000000 !important;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #000000 !important;
  }
  /*-- Arreglar errores del estilo --*/
  	/* ------------------------------------------
  		Error con el margen izquierdo del menú
		y con la longitud del menú
  	--------------------------------------------- */
  .navbar-nav{
	width:100%;
	margin-left: 0px !important;
  }
  	/* ------------------------------------------
  		Error con el hover en los submenus
  	--------------------------------------------- */
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
  	background-color: black !important;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: black !important;
  }
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    background-color: black !important;
  }
  .navbar .navbar-nav .open .dropdown-menu .divider {
    background-color: black !important;
  }
  /*---------------------------------*/
}

/*********************
  IMAGENES CARROUSEL FIXED
**********************/

/* Primera imagen carrousel */
.item:nth-child(1) {
  background-image: url("/../img/carrousel/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Segunda imagen carrousel */
.item:nth-child(2) {
  background-image: url("/../img/carrousel/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Tercera imagen carrousel */
.item:nth-child(3) {
  background-image: url("/../img/carrousel/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Cuarta imagen carrousel */
.item:nth-child(4) {
  background-image: url("/../img/carrousel/10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Quinta imagen carrousel */
.item:nth-child(5) {
  background-image: url("/../img/carrousel/12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sexta imagen carrousel */
.item:nth-child(6) {
  background-image: url("/../img/carrousel/13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Septima imagen carrousel */
.item:nth-child(7) {
  background-image: url("/../img/carrousel/19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/***************
  CARROUSEL
****************/

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

/***************
  CARDS
****************/
.container-card{
  margin-top: 45px;
  width: 100%;
}

/***************
  PARALLAX
****************/
#parallax-1 {
    min-height:500px;
    background-image: url(https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg);
}
