/***********************************
  Estilos personalizados:
  @author Emmanuel Valverde Ramos
  @author Pedro Hernandéz Mora
  @author Eduardo López Pardo
  @author Fernando Manuel Barcelona
  @author Abel Montejo

*************************************/
/*********************
  GENERAL
**********************/
html,
body {
  height: 100%;
}

/* Para hacer responsive el panel de admin */
.header-admin, .main-admin, .footer-admin {
   padding-left: 240px;
 }

 @media only screen and (max-width : 992px) {
   .header-admin, .main-admin, .footer-admin {
     padding-left: 0;
   }
 }

/*********************
  LOGO
**********************/
.logo{
  color:#FA5540 !important;
  text-shadow:1px 1px 1px black;
  font-weight:bold;
}
/*********************
  NAV
**********************/
.navbar-transparent {
  /*background-color: transparent !important;*/
  /*background-color: rgba(255, 255, 255, 0.1) !important;*/
  background-color: rgba(26, 35, 126, 0.1) !important;
  z-index:99;
}

.top-nav-collapse {
  background-color: #000000 !important;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #000000 !important;
  }
  /*-- Arreglar errores del estilo --*/
  	/* ------------------------------------------
  		Error con el margen izquierdo del menú
		y con la longitud del menú
  	--------------------------------------------- */
  .navbar-nav{
    width:100%;
    margin-left: 0px !important;
  }
  	/* ------------------------------------------
  		Error con el hover en los submenus
  	--------------------------------------------- */
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
  	background-color: black !important;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: black !important;
  }
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    background-color: black !important;
  }
  .navbar .navbar-nav .open .dropdown-menu .divider {
    background-color: black !important;
  }
  /*---------------------------------*/
}

/*********************
  IMAGENES CARROUSEL FIXED
**********************/

/* Primera imagen carrousel */
.item:nth-child(1) {
  background-image: url("/../img/carrousel/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Segunda imagen carrousel */
.item:nth-child(2) {
  background-image: url("/../img/carrousel/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Tercera imagen carrousel */
.item:nth-child(3) {
  background-image: url("/../img/carrousel/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Cuarta imagen carrousel */
.item:nth-child(4) {
  background-image: url("/../img/carrousel/10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Quinta imagen carrousel */
.item:nth-child(5) {
  background-image: url("/../img/carrousel/12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sexta imagen carrousel */
.item:nth-child(6) {
  background-image: url("/../img/carrousel/13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Septima imagen carrousel */
.item:nth-child(7) {
  background-image: url("/../img/carrousel/19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/***************
  CARROUSEL
****************/

.carousel,
.item,
.active {
  height: 100%;
}
.carousel-indicators >.active{
  background-color: #FA5540 !important;
  border: 2px white solid;
  /* Tiempo que dura la transición */
  transition-duration: 0.6s;
}

.verticalcenter{
  background-color:rgba(255, 255, 255, 0.1);
}

.carousel-inner {
  height: 100%;
}

/***************
  CARDS
****************/
.container-card{
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}

/***************
  PARALLAX
****************/
#parallax-1 {
    min-height:500px;
    background-image: url(https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg);
}
/* Small Devices, Tablets - no ver el parallax */
@media only screen and (max-width: 768px) {
  #parallax-1 {
    display:none;
  }
}

/***************
  BACK-TO-TOP
****************/
a.back-to-top {
  display: none;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 10px;
  bottom: 10px;
  background: black url("../img/up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
a:hover.back-to-top {
  background-color: #FA5540;
  /* Tiempo que dura la transición */
  transition-duration: 0.6s;
}